{
  "timeout": 5,
  "buttons": [
    {
      "name": "Slim Jim",
      "address": "f0:4f:7c:c4:1f:8a",
      "domain": "switch",
      "service": "toggle",
      "service_data": "{\"entity_id\": \"light.sun_outer_light_level\"}"
    },
    {
      "name": "Trident",
      "address": "50:f5:da:53:d3:48",
      "domain": "light",
      "service": "toggle",
      "service_data": "{\"entity_id\": \"light.sun_bench_light_level\"}"
    },
    {
      "name": "Hersheys",
      "address": "ac:63:be:91:1b:18",
      "domain": "switch",
      "service": "toggle",
      "service_data": "{\"entity_id\": \"switch.mudroom_light_switch\"}"
    },
    {
      "name": "Dude",
      "address": "50:f5:da:96:a2:5e",
      "domain": "input_boolean",
      "service": "turn_on",
      "service_data": "{\"entity_id\": \"input_boolean.cooper_door_button\"}"
    }
  ]
}